@media screen and (max-width: 1100px) {
  header #title #titleContent {
    width: 70%;
  }
  header #title #titleContent {
    padding: 30% 0;
  }
}

@media screen and (max-width: 920px) {
  header nav #logo a h1 {
    font-size: 35px;
  }
  header nav #logo a i {
    font-size: 35px;
  }

  header nav ul li a {
    font-size: 18px;
  }
  header #title {
    justify-content: center;
    text-align: center;
  }

  header #title #titleContent {
    width: 95%;
  }
  header #title #titleContent {
    padding: 38% 0;
  }
}

@media screen and (max-width: 820px) {
  header nav {
    flex-direction: column;
    padding-top: 5%;
  }
  header #title #titleContent {
    padding: 50% 0;
  }
  header nav ul li a {
    font-size: 22px;
  }
  header #title .btn {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 690px) {
  header nav {
    width: 95%;
  }
  header #title #titleContent {
    padding: 60% 0;
  }
  header nav ul li a {
    font-size: 19px;
  }
  header #title #titleContent h1 {
    font-size: 2.2em;
  }
  header #title #titleContent p {
    font-size: 1em;
  }
  header #title .btn {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 585px) {
  header nav ul li {
    padding: 5px;
  }
  header #title #titleContent h1 {
    font-size: 2em;
  }
  header #title #titleContent p {
    font-size: 0.9em;
  }
  header #title .btn {
    display: block;
    width: 40%;
    margin: 0 auto;
    font-size: 1em;
  }
  header #title .btn-dark {
    margin-bottom: 20px;
  }
}
