@media screen and (max-width: 1100px) {
  header #title #titleContent {
    width: 70%;
  }
  header #title #titleContent {
    padding: 30% 0;
  }
  .container .about-me p {
    font-size: 1.2em;
  }
  .container .about-me .about-content .text h3 {
    font-size: 1.6em;
  }
  .container .about-me .about-content .text p {
    font-size: 1.4em;
  }
  .container .services {
    flex-wrap: wrap;
  }
  .container .services .item {
    width: 49%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 965px) {
  header nav #logo a h1 {
    font-size: 35px;
  }
  header nav #logo a i {
    font-size: 35px;
  }

  header nav ul li a {
    font-size: 18px;
  }
  header #title {
    justify-content: center;
    text-align: center;
  }

  header #title #titleContent {
    width: 95%;
  }
  header #title #titleContent {
    padding: 38% 0;
  }
  .container .about-me p {
    font-size: 1.1em;
  }
  .container .about-me .about-content .text h3 {
    font-size: 1.5em;
  }
  .container .about-me .about-content .text p {
    font-size: 1.3em;
  }
  .container .about-me .about-content .image {
    width: 45%;
  }
  .container .about-me .about-content .text {
    width: 47%;
  }
  .container .projects .project-item {
    width: 49%;
  }
}

@media screen and (max-width: 840px) {
  header nav {
    flex-direction: column;
    padding-top: 5%;
  }
  header #title #titleContent {
    padding: 40% 0;
  }
  header nav ul li a {
    font-size: 22px;
  }
  header #title .btn {
    font-size: 1.3em;
  }
  .container .about-me .about-content {
    width: 90%;
  }
}

@media screen and (max-width: 690px) {
  header nav {
    width: 95%;
  }
  header #title #titleContent {
    padding: 50% 0;
  }
  header nav ul li a {
    font-size: 19px;
  }
  header #title #titleContent h1 {
    font-size: 2.2em;
  }
  header #title #titleContent p {
    font-size: 1em;
  }
  header #title .btn {
    font-size: 1.2em;
  }
  .container .title {
    padding: 1.2% 0%;
    font-size: 1.3rem;
  }
  .container .about-me,
  .container .skills {
    width: 95%;
  }
  .container .about-me .about-content .image {
    width: 48%;
  }
  .container .services {
    margin-bottom: 0px;
  }
  .container .services .item {
    width: 100%;
  }
  .container .projects .project-item .project-text h3 {
    font-size: 1.3em;
  }
  .container .projects .project-item .project-text p {
    font-size: 1em;
  }
  .container .contact .form-wrap,
  .container .contact .contact-me {
    width: 100%;
  }
  .container .contact .form-wrap {
    padding: 5% 10%;
  }
}

@media screen and (max-width: 585px) {
  header nav ul li {
    padding: 5px;
  }
  header #title {
    width: 95%;
  }
  header #title #titleContent h1 {
    font-size: 1.8em;
  }
  header #title #titleContent p {
    font-size: 0.9em;
  }
  header #title .btn {
    display: block;
    width: 40%;
    margin: 0 auto;
    font-size: 1em;
  }
  header #title .btn-dark {
    margin-bottom: 20px;
  }
  .container .about-me,
  .container .skills {
    width: 100%;
    margin-bottom: 0px;
  }
  .container .about-me .about-content {
    flex-direction: column;
  }
  .container .about-me .about-content .text {
    width: 90%;
  }
  .container .about-me .about-content .image {
    width: 80%;
  }
  .container .about-me .about-content .text h3 {
    margin-top: 1%;
    font-size: 1.8em;
  }
  .container .about-me .about-content .text p {
    font-size: 1.6em;
  }
  .container .projects .project-item {
    width: 100%;
  }
}

@media screen and (max-width: 489px) {
  header nav ul li {
    padding: 10px 25px;
  }
  header #title {
    width: 100%;
  }
  header #title .btn {
    width: 35%;
    font-size: 0.8em;
  }
  header #title .btn-light {
    display: none;
  }
  header #title #titleContent p {
    font-size: 0.8em;
  }
  header #title #titleContent h1 {
    font-size: 1.7em;
  }
  .container .about-me .d-none {
    display: none;
  }
  .container .about-me .about-content .image {
    width: 90%;
  }
}
