header #title .btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/coverPhoto.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0px;
}
header nav #logo a {
  text-decoration: none;
}
header nav #logo a h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 40px;
  color: #ede4ff;
}
header nav #logo a i {
  font-size: 40px;
  color: #6528f7;
  margin-right: 10px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #d7bbf5;
  font-size: 20px;
  transition: color 1s;
}
header nav ul li a:hover {
  color: #6528f7;
}
header #title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 85%;
  text-align: right;
  margin: 0 auto;
}
header #title #titleContent {
  width: 65%;
  padding: 18% 0;
  color: #ede4ff;
}
header #title #titleContent h1 {
  font-size: 2.5em;
}
header #title #titleContent h1 span {
  color: #6528f7;
}
header #title #titleContent p {
  padding: 20px 0px;
  font-size: 1.2em;
}
header #title .btn {
  transition: all 0.6s;
}
header #title .btn-light {
  background-color: #ede4ff;
  color: #6528f7;
}
header #title .btn-light:hover {
  background-color: #a076f9;
  color: #ede4ff;
}
header #title .btn-dark {
  background-color: #6528f7;
  color: #ede4ff;
  margin-right: 5px;
}
header #title .btn-dark:hover {
  background-color: #a076f9;
  color: #ede4ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ede4ff;
}
.container .title {
  padding: 1.5% 0%;
  color: #6528f7;
  font-size: 1.5rem;
}
.container .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d7bbf5;
  width: 85%;
  margin-bottom: 30px;
  padding: 1.5% 0%;
}
.container .wrap p {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 2%;
}
.container .wrap .wrap1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .wrap .wrap1 .text {
  text-align: center;
  width: 45%;
}
.container .wrap .wrap1 .text h3 {
  font-size: 1.8rem;
  color: #6528f7;
}
.container .wrap .wrap1 .text p {
  font-size: 1.6rem;
}
.container .wrap .wrap1 .image {
  width: 40%;
  border-radius: 4%;
}
.container .wrap .wrap1 .image img {
  width: 100%;
  border-radius: 4%;
}
.container .wrap2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin-bottom: 30px;
}
.container .wrap2 .item {
  width: 24%;
  background-color: #a076f9;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.container .wrap2 .item i {
  font-size: 50px;
  margin-bottom: 10px;
  color: #d7bbf5;
}
.container .wrap2 .item h2 {
  color: #ede4ff;
  margin-bottom: 10px;
}
.container .skills {
  width: 85%;
  background-color: #d7bbf5;
  margin-bottom: 30px;
  padding: 20px;
}
.container .skills .progress {
  background-color: #ede4ff;
  border-radius: 4px;
  overflow: hidden;
  height: 40px;
  margin: 10px 0px;
}
.container .skills .progress .html {
  width: 95%;
}
.container .skills .progress .css {
  width: 90%;
}
.container .skills .progress .bootstrap {
  width: 75%;
}
.container .skills .progress .js {
  width: 70%;
}
.container .skills .progress .sql {
  width: 65%;
}
.container .skills .progress .sass {
  width: 85%;
}
.container .skills .progress-bar {
  background-color: #a076f9;
  padding: 0px 10px;
  transition: all 0.7s;
}
.container .skills .progress-text {
  color: #000;
  line-height: 40px;
  font-size: 24px;
}
.container .skills .progress:hover .progress-bar {
  background-color: #8f5ef8;
}
.container .projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  margin-bottom: 30px;
}
.container .projects .project-item {
  width: 31%;
}
.container .projects .project-item .project-image {
  width: 100%;
  margin-bottom: 8px;
}
.container .projects .project-item .project-image img {
  width: 100%;
}
.container .projects .project-item .project-text {
  background-color: #6528f7;
  color: #ede4ff;
  border-radius: 10px;
  text-align: center;
}
.container .holder {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
}
.container .holder .form-wrap {
  text-align: center;
  width: 50%;
  padding: 2% 4% 2% 8%;
  background-color: #a076f9;
}
.container .holder .contact-me {
  width: 50%;
  background-color: #d7bbf5;
  padding: 5%;
}
.container .holder .contact-me .contacts {
  width: 65%;
  background-color: #a076f9;
  margin: 4% auto;
  padding: 4%;
  border-radius: 30px;
}
.container .holder .contact-me .contacts i {
  margin-right: 30px;
  color: #ede4ff;
  font-size: 20px;
}
.container .holder .contact-me .socials {
  width: 25%;
  margin: 0 auto;
}
.container .holder .contact-me .socials a {
  font-size: 20px;
  color: #6528f7;
}
.container .holder .contact-me .socials a .fa-facebook {
  margin: 8% 25%;
}
.container .holder input[type="text"],
.container .holder input[type="email"],
.container .holder textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #d7bbf5;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 16px;
}
.container .holder input[type="submit"] {
  background-color: #d7bbf5;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.4s ease;
}
.container .holder input[type="submit"]:hover {
  background-color: #bd8fee;
}

footer {
  background-color: #ede4ff;
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
footer .footer-wrap {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .footer-wrap .links a {
  margin-right: 10px;
  font-size: 18px;
  color: #6528f7;
}
footer .footer-wrap span {
  color: #898888;
  font-size: 14px;
} /*# sourceMappingURL=style.css.map */
