* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

$color1: #6528F7;
$color2: #A076F9;
$color3: #D7BBF5;
$color4: #EDE4FF;

$width1: 100%;
$width2: 80%;